.body {
	margin: 0;
}
.logo {
	height: auto;
	padding-left: 14px;
	width: 80%;
}
.f {
	height: auto;
	width: 20%;
	position: absolute;
	left: 895px;
	top: 190px;
}
.name {
	position: absolute;
	left: 900px;
	top: 540px;
	padding: 30px;
	background: black;
	color: white;
}
.name h1 {
	font-family: 'Corbel';
	font-size: 50px;
	line-height: 0.5;
	letter-spacing: 2.5px;
}
.name p {
	font-family: 'Corbel';
	font-size: 25px;
	letter-spacing: 5px;
}
.topnav {
	position: fixed;
}
.topnav header {
	display: block;
	width: 14rem;
	height: 100vh;
	background: black;
	margin: -9px;
	padding-left: 10px;
}
.topnav ul {
	list-style: none;
	font-family: 'Corbel';
	font-size: 25px;
}
.topnav ul li {
	padding-top: 40px;
	text-align: left;

}
.topnav ul li a {
	text-decoration: none;
	color: white;
}
.topnav ul li a:hover {
	color: red;
}
.linked {
	height: auto;
	width: 40px;
}
.topnav {
	animation: moveToLeft 1.5s ease-in;
	animation: delay: 10ms;
}
.toggle-button {
	position: absolute;
	display: none;
}

.toggle-button .bar{
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}
.page {
	animation: moveToLeft 1s ease-in;
	animation-delay: 10ms;
}

@keyframes moveToLeft {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
@media screen and (min-width: 100px) and (max-width: 720px){
	.topnav {
	}
	.topnav header{
		display: flex;
		width: 100vh;
		height: 10vh;
		background: black;
		flex-direction: column;
		align-items: flex-start;
		margin: -9px;
		padding: 0px;
	}
	.topnav ul {
		font-size: 20px;
		background: grey;
		width: 100vh;
		height: auto;
		margin: -9px;

	}
	.logo {
		padding-left: 10px;
		height: auto;
		width: 50%;
	}
	.list {
		padding-left: 500px;
		display: none;
	}
	
	.list ul li {
		width: 100vh;
	}
	.list.active{
		display: flex;
	}
	.toggle-button {
		display: flex;
		position: absolute;
		top: 10px;
		left: 610px;
		flex-direction: column;
		justify-content: space-between;
		width: 65px;
		height: 35px;
	}
	
	.f {
	height: 324px;
	width: 324px;
	position: absolute;
	left: 225px;
	top: 290px;
}
.name {
	position: absolute;
	left: 210px;
	top: 580px;
	padding: 30px;
	background: black;
	color: white;
}
.name h1 {
	font-family: 'Corbel';
	font-size: 50px;
	line-height: 0.5;
	letter-spacing: 2.5px;
}
.name p {
	font-family: 'Corbel';
	font-size: 25px;
	letter-spacing: 5px;
}
}

